* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 540px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.container img {
  width: 350px;
  margin: 0px auto 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #3F3D56;
  margin-bottom: 16px;
}

span {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-weight: 700;
  color: #EE24FF;
}

p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

p span {
  color: #3F3D56;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

.line {
  width: 391px;
  border: 1px solid #ECEFF2;
  margin: 64px auto 16px;
}
 a {
  text-decoration: none;
  color: #3F3D56;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

a:hover {
  color: #EE24FF;
}

footer a + a {
  margin-left: 44px;
}

.wave img {
  width: 100%;
  position: sticky;
  bottom: 0;
}